@import url('https://fonts.googleapis.com/css2?family=B612:wght@700&family=Oswald:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #0F1035;
    --secondary-color: #7FC7D9;
    --gray: #4a4a4d;
    --bg-primary: #DCF2F1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Oswald', sans-serif;
}

h1,
h2 {
    font-family: 'B612', sans-serif;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* multipl classes*/
.text-primary {
    color: rgb(0, 182, 182);
    text-shadow: 0 0 3px #000000, 0 0 5px #0000FF;
}

.btn-primary {
    background-color: #FE7A36;
    border-radius: 20px;
    padding: 8px 20px;
    font-size: 18px;
    color: white;
    transition: all 0.4s ease;
}

.btn-primary:hover {
    background-color: #fe7936d2;
    padding: 10px 30px;
}

.container {
    max-width: 1150px;
    margin: auto;
    padding: 0 2rem;
}
/* Header Start */
header {
    background-color: #0F1035;
    height: 100vh;
}


header .navbar {
    background-color: #DCF2F1;
    border-bottom: 1px solid #b9b9c2;
    position: fixed;
    width: 100%;
    box-shadow: 0px 4px 8px rgb(18, 136, 165);
    z-index: 999;
}

header .navbar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1150px;
    margin: auto;
    padding: 1.5rem 2rem;
}

#home #logo {
    color: var(--primary-color);
    font-size: 25px;
    font-weight: 700;
    transition: 0.3s;
}

#home #logo:hover{
    color: #365486;
    font-size: 30px;
}

header .navbar nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .navbar nav ul a {
    margin: 0 15px;
    color: var(--primary-color);
    font-weight: 600;
    transition: 0.3s;
    font-size: 18px;
}

header .navbar nav ul a:hover {
    color: #365486;
    font-size: 22px;
}

header .header-content {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    max-width: 1150px;
    margin: auto;
    padding: 5rem 2rem 0;
    height: 100%;
    align-items: center;
}

header .header-content .content-text {
    margin-bottom: 5rem;
}

.Img14 {
    height: 450px;
}

#home .header-content p span {
    font-weight: 750;
    font-size: 21px;
}

#home .header-content h1 {
    font-size: 65px;
    color: #DCF2F1;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
    margin-top: 10px;
}

#home .header-content .title {
    font-size: 21px;
    color: #b9b9c2;
    margin: 9.5px 0;
    font-weight: 500;
}

#home .header-content .socials {
    margin: 1rem 0 2rem;
}

#home .header-content .socials a i {
    font-size: 20px;
    padding: 11px;
    background-color: #45ffef;
    border-radius: 100%;
    margin-right: 15px;
    transition: all 0.4s ease;
}

#home .header-content .socials a i:hover {
    transform: scale(0.85);
    background-color: #20c997;
}

/*Header End */

/*about start*/

#about {
    background-color: #ff9843d5;
}
#about , #skills {
    padding: 6rem 0;
}

#about h2 , #skills h2 , #projects h2 {
    text-align: center;
    font-size: 39px;
    color: #DCF2F1;
    font-weight: 600;
    letter-spacing: 1px;
}

#about hr {
    width: 100px;
    height: 3px;
    background-color: var(--secondary-color);
    border: none;
    margin: 5px auto 0;
}

#about .about-content {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 3rem;
}

#about .about-content .col1 h3 {
    font-size: 35px;
    color: var(--primary-color);
    margin-bottom: 50px;
}

#about .about-content .col1 p {
    color: #0F1035;
    margin-bottom: 22px;
    line-height: 1.8;
    font-weight: 600;
    word-spacing: 1px;
    letter-spacing: 1px;
    font-size: 17px;
}

#about .about-content .col2 p {
    color: #0F1035;
    margin-bottom: 22px;
    border-bottom: 1px solid rgb(226, 203, 203);
    padding-bottom: 5px;
}


/*about end*/






/* skills start */

.cards {
    background-color: #37B5B6;
}

.title {
    display: flex;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 5px 5px 25px #0F1035;
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.card .icon {
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3{
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.projects {
    background-color: #000016;
}

.projects .content{
    margin-top: 30px;
}

.project-card {
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover {
   transform: scale(1.1);
}

.project-card:hover .project-image {
    opacity: 0.9;
 }

.project-image img{
    width: 100%
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.8em;
    color: #000;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.certificates {
    background-color: #337357;
}



/* skills end */


/* footer */

#footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}


/* tablet responsive */
@media (max-width: 768px) {
    header .navbar nav {
        display: block;
        text-align: center;
    }

    header .navbar nav ul {
        margin-top: 20px;
    }

    header .navbar nav ul a {
        margin: 0 8px;
    }

    header .header-content {
        grid-template-columns: 1fr;
    }

    header .header-content .content-text {
        margin-bottom: 0rem;
        margin-top: 5rem;
    }

    .Img14 {
        max-width: 350px;
        max-height: 350px;
        margin: auto;
    }

    #home .header-content h1 {
        font-size: 50px;
    }

    #about .about-content {
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }

    #skills .skills-content .row {
        grid-template-columns: 1fr 1fr;
    }


    #portfolio .row {
        display: grid;
        gap: 2rem;
        margin-top: 4rem;
    }
}

/* mobile */

@media (max-width: 528px) {
    #home .header-content h1 {
        font-size: 35px;
    }

    #home .header-content p span {
        font-size: 16px;
    }

    #home .header-content p span,
    #home .header-content .title {
        font-size: 16px;
    }

    .Img14 {
        margin-top: 2rem; 
    }

        #about h2,
        #skills h2,
        #portfolio h2 {
            font-size: 30px;
        }

        #about .about-content .col1 h3 {
            font-size: 20px;
        }

        #skills .skills-content .row {
            grid-template-columns: 1fr 1fr;
        }

        #skills .skills-content .row .item {
            color: black;
            background-color: white;
            margin: 5px;
            padding: 1rem;
            border-radius: 10px;
            font-size: 10px;
            transition: all 0.4s ease;
            align-items: center;
        }
}
    
